<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

<h1>🛠️ Admin Panel</h1>

<table border="1" width="100%">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Issue</th>
    <th>Location</th>
    <th>Assigned Team</th>
    <th>Status</th>
    <th>Actions</th>
    <th>Feedback</th>
</tr>

{% for complaint in complaints %}
<tr>

<td>{{ complaint['id'] }}</td>
<td>{{ complaint['name'] }}</td>
<td>{{ complaint['issue'] }}</td>
<td>{{ complaint['lat'] }}, {{ complaint['lng'] }}</td>
<td>{{ complaint['assigned_team'] }}</td>

<td>
    {% if complaint['status'] == "Pending" %}
        🔴 Pending
    {% elif complaint['status'] == "In Progress" %}
        🟡 In Progress
    {% else %}
        🟢 Resolved
    {% endif %}
</td>

<td>
    <a href="/update/{{ complaint['id'] }}/In Progress">Start</a> |
    <a href="/update/{{ complaint['id'] }}/Resolved">Resolve</a>
</td>

<!-- ⭐ FEEDBACK LINK -->
<td>
    <a href="/feedback/{{ complaint['id'] }}" class="btn">
        View / Add Feedback
    </a>
</td>

</tr>
{% endfor %}

</table>

<br>

<a href="/" class="btn">Back Home</a>

</div>

</body>
</html>