<!DOCTYPE html>
<html>
<head>
    <title>AquaFix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <h1>💧 AquaFix</h1>
    <p>Smart Water Complaint Management System</p>
</div>

<div class="container">

    <div class="hero">

    <h2>Welcome, {{ username }} 👋</h2>

    <h3>Supporting SDG 6 - Clean Water & Sanitation</h3>

    <p>
        Report water supply issues, track complaints,
        locate problem areas, and improve citizen satisfaction.
    </p>

    <a href="/report" class="btn">Report Complaint</a>
    <a href="/dashboard" class="btn">Dashboard</a>
    <a href="/map" class="btn">Map View</a>
    <a href="/admin" class="btn">Admin Panel</a>
    <a href="/about" class="btn">About Project</a>
    <a href="/logout" class="btn">Logout</a>

</div>
    <div class="stats">

        <div class="stat-card">
            <h3>📍</h3>
            <p>GPS Complaint Tracking</p>
        </div>

        <div class="stat-card">
            <h3>🛠️</h3>
            <p>Nearest Team Assignment</p>
        </div>

        <div class="stat-card">
            <h3>📊</h3>
            <p>Complaint Dashboard</p>
        </div>

        <div class="stat-card">
            <h3>⭐</h3>
            <p>Citizen Feedback System</p>
        </div>

    </div>

</div>

<div class="footer">
    AquaFix © 2026 | Smart Water Management Portal
</div>

</body>
</html>