<!DOCTYPE html>
<html>
<head>
    <title>Register - AquaFix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Create Account</h1>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Choose Username"
            required>

        <input
            type="password"
            name="password"
            placeholder="Choose Password"
            required>

        <button type="submit">
            Register
        </button>

    </form>

    <br>

    <a href="/">Already have an account? Login</a>

</div>

</body>
</html>