<!DOCTYPE html>
<html>
<head>
    <title>Report Complaint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Report Water Complaint</h1>

    <form method="POST">

        <input
            type="text"
            name="name"
            placeholder="Your Name"
            required>

        <select name="issue_type" required>
            <option value="">Select Issue</option>
            <option>No Water Supply</option>
            <option>Dirty Water</option>
            <option>Pipe Leakage</option>
            <option>Low Pressure</option>
            <option>Water Wastage</option>
        </select>

        <textarea
            name="description"
            placeholder="Describe the issue"
            required></textarea>

        <input
            type="text"
            name="location"
            placeholder="Area / Location"
            required>

<input
    type="email"
    name="email"
    placeholder="Email Address"
    required>
<input type="hidden" name="lat" id="lat">
<input type="hidden" name="lng" id="lng">

<button type="button" onclick="getLocation()">📍 Get My Location</button>

<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("lng").value = position.coords.longitude;
            alert("Location captured successfully!");
        });
    } else {
        alert("Geolocation not supported");
    }
}
</script>
<input
    type="text"
    name="phone"
    placeholder="Phone Number"
    required>

        <button type="submit">
            Submit Complaint
        </button>

    </form>

    <br>

    <a href="/">Back Home</a>

</div>

</body>
</html>